@model PackageViewModel

@{
    if (Model?.Package == null) return;
}

<div class="col-md-4 mb-4 packageItem" data-packageid="@Model.Package.NuGetPackageId @Model.Package.Name @Model.Package?.Authors @Model.Package?.Category?.Name">
    <div class="card p-3 @(Model.IsChecked ? "selected" : null) text-center" style="min-height: 100%;">
        <img src="@(Model.Package?.Image ?? "")?width=100" alt="@(Model.Package?.Name ?? "uknown")" loading="lazy" />
        <div class="card-body">
            <h3 class="card-title"><a href="@(Model.Package?.Url ?? "#")" target="_blank" rel="noopener">@(Model.Package?.Name ?? "unknown")</a></h3>
            <p class="card-text">@(Model.Package?.Summary.Truncate(127) ?? "")</p>
            <p>
                <small>By: <strong>@(Model.Package?.Authors ?? "unknown")</strong></small><br />
                <small>Downloads: <strong>@string.Format("{0:n0}", Model.Downloads)</strong></small>
            </p>

        </div>
        <div class="checkbox-outer form-group mb-3">
            <label for="package_@Model.PackageId" class="w-25 float-start">Add</label>
            <input type="checkbox" class="float-start mt-1" name="package" id="package_@Model.PackageId" value="@(Model.Package?.NuGetPackageId ?? "")" checked="@(Model.IsChecked ? "checked" : null)" />
        </div>
            @if(Model.Package != null)
            {
                <div class="dropdown-outer form-group">
                    <label asp-for="@Model.Package.SelectedVersion" class="w-25 float-start mt-1"></label>
                    @if (Model.Package.PackageVersions != null && Model.Package.PackageVersions.Any())
                    {
                        <select class="form-control w-75 float-start" id="PackageVersion_@Model.PackageId" name="PackageVersion_@Model.PackageId">
                            <option selected="@(Model.Package.SelectedVersion == "" ? "selected" : null)" value="">Latest Stable</option>
                            <option selected="@(Model.Package.SelectedVersion == "--prerelease" ? "selected" : null)" value="--prerelease">Pre-release</option>
                            @foreach (var version in Model.Package.PackageVersions)
                            {
                                <option selected="@(Model.Package.SelectedVersion == version ? "selected" : null)" value="@version">@version</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="form-control w-75 float-start" id="PackageVersion_@Model.PackageId" name="PackageVersion_@Model.PackageId" disabled="disabled">
                            <option selected="@(Model?.Package?.SelectedVersion == "" ? "selected" : null)" value="">Latest Stable</option>
                            <option selected="@(Model?.Package?.SelectedVersion == "--prerelease" ? "selected" : null)" value="--prerelease">Pre-release</option>
                        </select>
                    }
                </div>
            }
    </div>
</div>