@{
    var clientBuildVersion = 12;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1' http-equiv='X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="A tool to help you generate the scripts needed to install Umbraco and the associated packages.">
    <title>Package Script Writer</title>
    <link rel="canonical" href="https://psw.codeshare.co.uk">
    <link rel="stylesheet preload" as="style" href="@Url.Content("~/portfolio-assets/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet preload" as="style" href="@Url.Content($"~/css/style.css?v={clientBuildVersion}")">
    <link rel="stylesheet preload" as="style" href="@Url.Content("~/portfolio-assets/ionicons.min.css")">
    <link rel="stylesheet preload" as="style" href="@Url.Content("~/css/sunburst.css")">
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary portfolio-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="/">Package Script Writer</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()

    <script src="@Url.Content($"~/js/site.js?v={clientBuildVersion}")"></script>
    <script src="@Url.Content("~/portfolio-assets/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/run_prettify.js?autoload=true&skin=sunburst")" defer></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>